
.jobs-list {
    width:100%;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.loading{
    // min-height: 90vh;
}

.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

.loadH1{
    text-align: center;
    padding: 5rem 0;
}

.work_textarea {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;

}

.job_post_card_div ul li:nth-child(n+2) {
    padding-bottom: 5px !IMPORTANT;
    padding-top: 0 !important;
}

#jpJobPostFormGrid,
#jpProfileSetupDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

#jpJobPostForm {
    width: 100%;
    display: block;
}

#jpJobPostForm .tags-input{
    width: 100%;
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;

}
#flProfileSetupForm p,
#jpJobPostForm p {
    font-size: 16px;
    margin: 16px 0 8px;
}

#mainSignInUpGrid {
    position: relative;
    width: 100%;
    height: 100%;
    /*max-width: 400px;*/
}

#mainSignInUpGrid img {
    width: 100%;
    height: auto;
    /*background-size:cover;*/
}

#mainSignInUpGrid .btnJp {     
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: Transparent;
    color: black;
    font-size: 50px;
    padding: 12px 24px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#mainSignInUpGrid .btnJp:hover {
    background-color: rgba(0,0,0,0.2);
}

#mainSignInUpGrid .btnFl {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: Transparent;
    color: black;
    font-size: 50px;
    padding: 12px 24px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#mainSignInUpGrid .btnFl:hover {
    background-color: rgba(0,0,0,0.2);
}

body .MuiSnackbarContent-root-160 {
    max-width: 100%;
}
.MuiTypography-root-40 {
    text-align: center;
}
body #mainSignInUpGrid .btnJp, body #mainSignInUpGrid .btnFl {
    height: 300px;
    background-color: rgba(255,255,255,0.7);
}
body .MuiDialog-paperWidthSm-170 {
    min-width: 400px;
}
#jpProfileForm div {
    width: 100%;
}
body input[type="submit"],
/*.flDashboardForm button,*/
.jobSearchAction button {
    padding: 8px 15px;
    background-color: blue;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
body input[type="submit"]:hover,
/*.flDashboardForm button:hover,*/
.jobSearchAction button:hover {
    background-color: #000;
}
.flDashboardForm button{
    margin: 5px auto 0;    
    width: 50%;
}    
#jpProfileForm a {
    float: right;
    margin-top: 8px;
    margin-left: 10px;
    text-decoration: none;
}
#jpProfileForm a:hover {
    color: #000;
}

div#flLoginDiv {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #fff;
}
#flLoginDiv button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}
body {
    overflow-x: hidden;
}
body #mainSignInUpGrid > div {
    max-width: 100%;
    border-radius: 0;
}
header > div {
    justify-content: space-between;
}
#jpProfileForm br {
    display: none;
}

/****************************** job post *********************/

div#jpDashboardMainGrid,
#jpJobPostFormMainGrid,
#jpInboxMainGrid,
#flInboxMainGrid,
#flDashboardMainGrid {
    padding: 50px 15px;
}
body  #jpProfileViewGrid,
body .jpProfileViewGrid,
body #flProfileViewGrid,
body .flProfileViewGrid {
    padding: 30px !important;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 10px;
    height: 0%;
}
body #jpDashboardGrid,
body #jpJobPostFormGrid,
body #jpInboxGrid,
body #flInboxGrid,
body #flDashboardGrid,
body body #flInboxGrid {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    max-width: 60.66667%;
    margin-left: 6%;
    margin-top: 0;
}
body #jpDashboardGrid hr,
body #jpJobPostFormGrid hr,
body #jpInboxGrid hr {
    display: none;
}
body #jpProfileMainDiv > div,
#titleCardDiv > div {
    max-width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
}
.MuiListItem-gutters-299 .MuiListItemText-root-321 p.MuiTypography-root-40 {
    text-align: right;
}
#jpProfileMainDiv h2,
#jpProfileMainDiv p {
    text-align: left;
    line-height: 1.2;
    padding: 10px 0;
}
#jpProfileMainDiv > div > div > div {
    margin-top: 10px;
}
#jobPostMainDiv .MuiDivider-root-284 {
    display: none;
}
#jpInboxGrid h2,
#flInboxGrid h2,
#jpDashboardGrid h2 {
    text-align: center;
}

body #jobPostMainDiv > div {
    max-width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    margin-top: 30px;
}
body #jobPostDetailDiv li:first-child p {
    color: #000;
    font-size: 1.3rem;
    text-align: right;
    width: 100%;
}
/****************************** job post close  *********************/


/****************************** loader *********************/
.loder_wrap {
    background-color: #fff;
    display: block;
    margin: auto;
    z-index: 9;
    text-align: center;
    position: relative;
    min-height: 175px;
    min-width: 130px;
}

ul.cssload-flex-container {
    display: inline-block;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 117px;
    height: 117px;

}
.pf-gip-preloader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999
}

.pf-gi-preloader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999999
}

.pf-gi-load-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
    z-index: 999999
}

.pf-gi-load-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.pf-gi-load-container ul li {
    list-style: none
}

.cssload-flex-container li {
    padding: 10px;
    height: 97px;
    width: 97px;
    list-style: none;
    position: relative;
    text-align: center
}

.cssload-loading-center {
    display: inline-block;
    position: absolute;
    background: #333;
    height: 29px;
    width: 29px;
    left: 35px;
    top: 36px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    animation: pulse 1.3s ease infinite;
    -o-animation: pulse 1.3s ease infinite;
    -ms-animation: pulse 1.3s ease infinite;
    -webkit-animation: pulse 1.3s ease infinite;
    -moz-animation: pulse 1.3s ease infinite
}

.cssload-loading {
    display: inline-block;
    position: relative;
    width: 73px;
    height: 73px;
    margin-top: 3px;
    transform: rotate(-45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(45deg)
}

.cssload-loading:after,
.cssload-loading:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    top: 0;
    background: #333;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    animation-delay: -.6.5s;
    -o-animation-delay: -.6.5s;
    -ms-animation-delay: -.6.5s;
    -webkit-animation-delay: -.6.5s;
    -moz-animation-delay: -.6.5s
}

.cssload-loading:after {
    right: 0;
    animation: square-tr 2.6s ease infinite;
    -o-animation: square-tr 2.6s ease infinite;
    -ms-animation: square-tr 2.6s ease infinite;
    -webkit-animation: square-tr 2.6s ease infinite;
    -moz-animation: square-tr 2.6s ease infinite;
    animation-delay: .162.5s;
    -o-animation-delay: .162.5s;
    -ms-animation-delay: .162.5s;
    -webkit-animation-delay: .162.5s;
    -moz-animation-delay: .162.5s
}

.cssload-loading:before {
    animation: square-tl 2.6s ease infinite;
    -o-animation: square-tl 2.6s ease infinite;
    -ms-animation: square-tl 2.6s ease infinite;
    -webkit-animation: square-tl 2.6s ease infinite;
    -moz-animation: square-tl 2.6s ease infinite;
    animation-delay: .162.5s;
    -o-animation-delay: .162.5s;
    -ms-animation-delay: .162.5s;
    -webkit-animation-delay: .162.5s;
    -moz-animation-delay: .162.5s
}

.cssload-loading.cssload-two {
    position: relative;
    top: -78px
}

.cssload-loading.cssload-two:after,
.cssload-loading.cssload-two:before {
    bottom: 0;
    top: initial
}

.cssload-loading.cssload-two:after {
    animation: square-br 2.6s ease infinite;
    -o-animation: square-br 2.6s ease infinite;
    -ms-animation: square-br 2.6s ease infinite;
    -webkit-animation: square-br 2.6s ease infinite;
    -moz-animation: square-br 2.6s ease infinite;
    animation-direction: reverse;
    -o-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse
}

.cssload-loading.cssload-two:before {
    animation: square-bl 2.6s ease infinite;
    -o-animation: square-bl 2.6s ease infinite;
    -ms-animation: square-bl 2.6s ease infinite;
    -webkit-animation: square-bl 2.6s ease infinite;
    -moz-animation: square-bl 2.6s ease infinite;
    animation-direction: reverse;
    -o-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse
}

@keyframes square-tl {
    0% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 60.5px)
    }
    50% {
        transform: translate(60.5px, 60.5px)
    }
    75% {
        transform: translate(60.5px, 0)
    }
}

@-o-keyframes square-tl {
    0% {
        -o-transform: translate(0, 0)
    }
    25% {
        -o-transform: translate(0, 60.5px)
    }
    50% {
        -o-transform: translate(60.5px, 60.5px)
    }
    75% {
        -o-transform: translate(60.5px, 0)
    }
}

@-ms-keyframes square-tl {
    0% {
        -ms-transform: translate(0, 0)
    }
    25% {
        -ms-transform: translate(0, 60.5px)
    }
    50% {
        -ms-transform: translate(60.5px, 60.5px)
    }
    75% {
        -ms-transform: translate(60.5px, 0)
    }
}

@-webkit-keyframes square-tl {
    0% {
        -webkit-transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, 60.5px)
    }
    50% {
        -webkit-transform: translate(60.5px, 60.5px)
    }
    75% {
        -webkit-transform: translate(60.5px, 0)
    }
}

@-moz-keyframes square-tl {
    0% {
        -moz-transform: translate(0, 0)
    }
    25% {
        -moz-transform: translate(0, 60.5px)
    }
    50% {
        -moz-transform: translate(60.5px, 60.5px)
    }
    75% {
        -moz-transform: translate(60.5px, 0)
    }
}

@keyframes square-bl {
    0% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -60.5px)
    }
    50% {
        transform: translate(60.5px, -60.5px)
    }
    75% {
        transform: translate(60.5px, 0)
    }
}

@-o-keyframes square-bl {
    0% {
        -o-transform: translate(0, 0)
    }
    25% {
        -o-transform: translate(0, -60.5px)
    }
    50% {
        -o-transform: translate(60.5px, -60.5px)
    }
    75% {
        -o-transform: translate(60.5px, 0)
    }
}

@-ms-keyframes square-bl {
    0% {
        -ms-transform: translate(0, 0)
    }
    25% {
        -ms-transform: translate(0, -60.5px)
    }
    50% {
        -ms-transform: translate(60.5px, -60.5px)
    }
    75% {
        -ms-transform: translate(60.5px, 0)
    }
}

@-webkit-keyframes square-bl {
    0% {
        -webkit-transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(0, -60.5px)
    }
    50% {
        -webkit-transform: translate(60.5px, -60.5px)
    }
    75% {
        -webkit-transform: translate(60.5px, 0)
    }
}

@-moz-keyframes square-bl {
    0% {
        -moz-transform: translate(0, 0)
    }
    25% {
        -moz-transform: translate(0, -60.5px)
    }
    50% {
        -moz-transform: translate(60.5px, -60.5px)
    }
    75% {
        -moz-transform: translate(60.5px, 0)
    }
}

@keyframes square-tr {
    0% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-60.5px, 0)
    }
    50% {
        transform: translate(-60.5px, 60.5px)
    }
    75% {
        transform: translate(0, 60.5px)
    }
}

@-o-keyframes square-tr {
    0% {
        -o-transform: translate(0, 0)
    }
    25% {
        -o-transform: translate(-60.5px, 0)
    }
    50% {
        -o-transform: translate(-60.5px, 60.5px)
    }
    75% {
        -o-transform: translate(0, 60.5px)
    }
}

@-ms-keyframes square-tr {
    0% {
        -ms-transform: translate(0, 0)
    }
    25% {
        -ms-transform: translate(-60.5px, 0)
    }
    50% {
        -ms-transform: translate(-60.5px, 60.5px)
    }
    75% {
        -ms-transform: translate(0, 60.5px)
    }
}

@-webkit-keyframes square-tr {
    0% {
        -webkit-transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(-60.5px, 0)
    }
    50% {
        -webkit-transform: translate(-60.5px, 60.5px)
    }
    75% {
        -webkit-transform: translate(0, 60.5px)
    }
}

@-moz-keyframes square-tr {
    0% {
        -moz-transform: translate(0, 0)
    }
    25% {
        -moz-transform: translate(-60.5px, 0)
    }
    50% {
        -moz-transform: translate(-60.5px, 60.5px)
    }
    75% {
        -moz-transform: translate(0, 60.5px)
    }
}

@keyframes square-br {
    0% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-60.5px, 0)
    }
    50% {
        transform: translate(-60.5px, -60.5px)
    }
    75% {
        transform: translate(0, -60.5px)
    }
}

@-o-keyframes square-br {
    0% {
        -o-transform: translate(0, 0)
    }
    25% {
        -o-transform: translate(-60.5px, 0)
    }
    50% {
        -o-transform: translate(-60.5px, -60.5px)
    }
    75% {
        -o-transform: translate(0, -60.5px)
    }
}

@-ms-keyframes square-br {
    0% {
        -ms-transform: translate(0, 0)
    }
    25% {
        -ms-transform: translate(-60.5px, 0)
    }
    50% {
        -ms-transform: translate(-60.5px, -60.5px)
    }
    75% {
        -ms-transform: translate(0, -60.5px)
    }
}

@-webkit-keyframes square-br {
    0% {
        -webkit-transform: translate(0, 0)
    }
    25% {
        -webkit-transform: translate(-60.5px, 0)
    }
    50% {
        -webkit-transform: translate(-60.5px, -60.5px)
    }
    75% {
        -webkit-transform: translate(0, -60.5px)
    }
}

@-moz-keyframes square-br {
    0% {
        -moz-transform: translate(0, 0)
    }
    25% {
        -moz-transform: translate(-60.5px, 0)
    }
    50% {
        -moz-transform: translate(-60.5px, -60.5px)
    }
    75% {
        -moz-transform: translate(0, -60.5px)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(inherit) rotate(45deg)
    }
    75% {
        transform: scale(0.25) rotate(45deg)
    }
}

@-o-keyframes pulse {
    0%,
    100% {
        -o-transform: scale(inherit) rotate(45deg)
    }
    75% {
        -o-transform: scale(0.25) rotate(45deg)
    }
}

@-ms-keyframes pulse {
    0%,
    100% {
        -ms-transform: scale(inherit) rotate(45deg)
    }
    75% {
        -ms-transform: scale(0.25) rotate(45deg)
    }
}

@-webkit-keyframes pulse {
    0%,
    100% {
        -webkit-transform: scale(inherit) rotate(45deg)
    }
    75% {
        -webkit-transform: scale(0.25) rotate(45deg)
    }
}

@-moz-keyframes pulse {
    0%,
    100% {
        -moz-transform: scale(inherit) rotate(45deg)
    }
    75% {
        -moz-transform: scale(0.25) rotate(45deg)
    }
}


/****************************** loader close *********************/

/****************************** sidebar *********************/
#drawerPane ul a:hover {
    background-color: transparent;
    color: #3f51b5;
}
/****************************** sidebar close *********************/

/****************************** error message *********************/
div[role="alertdialog"] {
    color: #ff0000;
    text-align: center;
    padding: 5px 15px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid;
    max-width: 100%;
    min-width: auto;
}
div[role="alertdialog"] > div {
    width: 100%;
}
/****************************** error message close *********************/

/****************************** jp setup profile page *********************/
#jpProfileSetupDiv > div,
#jpProfileSetupDiv > fieldset {
    width: 100%;
    margin: 10px 0;
}

#jpProfileSetupDiv legend {
    text-align: left;
}
#jpJobPostForm fieldset,
.flDashboardForm fieldset {
    width: 100%;
    margin-top: 20px;
}
#jpJobPostForm fieldset div,
.flDashboardForm fieldset div {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
#jpJobPostForm fieldset label,
.flDashboardForm fieldset label {
    flex-direction: row;
}
#flProfileSetupForm p,
#jobPostDetailDiv li > div {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
    display: flex;
    /*justify-content: space-between;*/
    /*width: 100%;*/
}
/****************************** jp setup profile page close *********************/


/****************************** jp inbox page  *********************/
#flInfoMainDiv > div,
#FlProfileDiv > div {
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: none;
}
#flInfoMainDiv:nth-child(n+2) {
    margin-top: 30px;
}
#renderInfoDiv {
    width: 100%;
}
#titleCardDiv h1 {
    width: 100%;
    display: block;
}
#titleCardDiv h1 div {
    float: right;
}
#flInfoMainDiv li div {
    margin-right: 15px;
}
#flInfoMainDiv li p {
    width: 100%;
    text-align: left;
}
body .work_textarea {
    width: 100% !important;
    min-height: 100px;
    height: auto !important;
    resize: none;
}
#jobPostMainDiv button,
#flInfoMainDiv button {
    color: white;
    display: block;
    width: 100%;
    font-size: 19px;
}
/****************************** jp inbox page close *********************/

/****************************** freelancer login page  *********************/
.flDashboardForm div[role="alertdialog"] {
    color: green;
    width: 100%;
}
.flDashboardForm p {
    display: block;
    text-align: left;
    width: 100%;
}
.flDashboardForm .input-range {
    margin: 25px 0;
}
#FlProfileDiv > div {
    max-width: 100%;
}
#FlProfileDiv p,
#FlProfileDiv a {
    margin-top: 10px;
    text-align: left;
}
#FlProfileDiv a {
    display: inline-block;
}
.flDashboardForm > div, .flDashboardForm > p, .flDashboardForm > fieldet {
    margin-bottom: 15px;
}
body #jobPostMainDiv > div > div > div:last-child > div > div > div {
    flex-direction: column;
}
.jobSearchMsg > div {
    width: 100%;
}
body #jobPostMainDiv > div > div > div > div:last-child[role="button"] {
    top: 38px;
    background-color: #ccc;
    right: 30px;
}
body #jobPostMainDiv > div > div > div > div:last-child[role="button"]:hover {
    background-color: #bbb;
}
#jobPostMainDiv .jobSearchMsg {
    padding: 0;
    width: 100%;
}
.jobSearchAction {
    padding: 0;
    margin-top: 15px;
}
.jobSearchAction button {
    background-color: gray;
    width: 100%;
}
#jobPostDetailDiv li {
    padding-right: 80px !important;
}
#jobPostDetailDiv li:last-child {
    padding-right: 24px !important;
}
/****************************** freelancer login page close *********************/
.skillsChip{

}
a.close-btn {
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 14px;
}
a.close-btn:hover {
    background-color: #000000;
    color: #fff;
}
/*.Dashboard-appFrame-2 {*/
#dashboardDiv {
    flex-direction: column;
}
div#drawerPane {
    position: absolute;
}
main + header h2 {
    text-align: center;
    display: block;
    width: 100%;
}
body main {
    margin-left: 0 !important;
}

/*
#flProfileSetupForm > div > div {
    width: 100%;
    max-width: 100%;
}

#flProfileSetupForm > div > div {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
*/
form#flProfileSetupForm {
    padding: 50px 15px;
}
div#flBasicProfileGrid {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    max-width: 48%;
    margin-right: 4%;
    flex-basis: 48%;
}
div#flAddProfileGrid {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 48% !important;
    max-width: 48%;
}
#flBasicProfileGrid div, #flBasicProfileGrid select, #flBasicProfileGrid input, #flBasicProfileGrid label {
    width: 100%;
    margin: 10px 0;
}
#flProfileSetupForm select {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
#flAddProfileGrid input, #flAddProfileGrid div, #flAddProfileGrid textarea {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    box-sizing: border-box;
    padding: 5px;
}
#flProfileSetupForm p, #flProfileSetupForm input[type="file"] {
    display: inline-block;
    width: auto;
}
#flProfileSetupForm input[type="file"] {
    padding-left: 15px;
}